h1 {
    border-style: solid;
    border-width: medium;
    border-top: 23px;
    border-bottom: 23px;
    border-top-style: inset;
    border-bottom-style: inset;
    border-right-width: 10px;
    border-left-width: 10px;
    border-right-style: groove;
    border-left-style: groove;
    border-left-color: silver;

}

p {
    border: 2px solid red;
    border-radius: 1px;
    border-width: thick;
    border-top-style: outset;
    border-bottom-style: outset;
    border-color: red;
    padding: 5px;
    outline-style: solid;
    outline-color: blueviolet;
    outline-width: 3px;
    outline-offset: 2px;
}