*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
header{
    background-color: hsl(0, 45%, 86%);
    text-align: center;
    padding: 20px;
}
.navbar{
    background-color: hsl(89, 37%, 48%);
    height: 50px;
}
aside{
    width: 20%;
    float: left;
    padding: 25px;
}
section {
    width: 40%;
    float: left;
    padding: 30px;
}
article {
    width: 40%;
    float: left;
    padding: 30px;
}
footer{
    display: block;
    clear: both;
background-color: hsl(0, 65%, 86%);
text-align: center;
padding: 20px;

}
@media screen and (max-width:600px){
    aside, section, article {
        width: 100%;
    }
    
}
